body{
    background-color: #1BA0A8;
}

img {
  width: 17.5%;
  height: auto;
  border-radius: 50%;
}

.center {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}