body {
  background-color:#393f4d;
  text-align: center;
  color:#fff;
  padding-top:15em;
  margin: auto;
  overflow-x:hidden;
  overflow-y:hidden;
}

* { color:#fff; text-decoration: none;}

.icons {
    filter: brightness(0) invert(1);
    max-width:40px;
    max-height:40px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 50;
  width: 100%;
  color: white;
  text-align: center;
}

.iconHeadshot {
  width: 50%;
  height: auto;
  border-top-left-radius: 100%;  /* 100px of height + 10px of border */
  border-top-right-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}